<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Baby_db</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
  <div class = "title">
    <h1>
      Baby Journal
    </h1>
  </div>
    {{#if logged_in}}
    <nav>
      <button class="btn" id="logout">Logout</button>
    </nav>
    {{/if}}
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}


  <style>
    .title {
      border: 4px solid black;
      color: rgb(96, 205, 255);
      background-color: rgb(136, 81, 130);
      height: 55px;
      text-align: center;
    }
  </style>
</body>

</html>
