<div class = "welcomePage">
<h3>Welcome to Baby Journal! Please Login or signup below to get started!</h3> 
</div>
<h2>Login</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="email-login">Email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</form>

<style>
  .welcomePage {
    color: rgb(112, 112, 255);
    border: 2px solid black;
    text-align: center;
    background-color: black;
    margin-bottom: 40px;
  }

</style>


 <div class="form-group">
    <button class ="btn btn-primary" id="register-btn" >Register</button>
  </div>


  <script src="/js/login.js"></script>
