<div class="container mt-4 background2">
        <div class="card" style="width: 18rem;">            
            <div class="card-header">Register Form</div>    
            <div class="card-body">

                <form class="parentRegister-form">
                    <div class="mb-3">
                        <label for="parents name " class="form-label">Parents Names</label>
                        <input type="text" class="form-control" id="par_name" name="name">                        
                    </div>
                    <div class="mb-3">
                        <label for="meeting date " class="form-label">Meeting date</label>
                        <input type="text" class="form-control" id="meeting-date" name="name">                        
                    </div>
                    <div class="mb-3">
                        <label for="fathers age" class="form-label">Father Age</label>
                        <input type="text" class="form-control" id="father-age" name="email">                        
                    </div>
                    <div class="mb-3">
                        <label for="mothers age" class="form-label">Mother Age</label>
                        <input type="text" class="form-control" id="mother-age" name="password">
                    </div>
                    <div class="mb-3">
                        <label for="grandfathers name" class="form-label">Grandfather Name</label>
                        <input type="text" class="form-control" id="grand-name" name="password-confirm">
                    </div>
                    <div class="mb-3">
                        <label for="grandmothers name" class="form-label">Grandmother Name</label>
                        <input type="text" class="form-control" id="granda-name" name="password-confirm">
                    </div>
                    <p id = "user_id" username = {{user.id}}></p>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
</div>
<style>
.background2{
    background-color: darkgray;
    width: 18rem;
}
body {
    background-image: url("https://img.freepik.com/free-vector/flat-design-baby-shower-zoom-background_23-2149242840.jpg?w=2000");
    background-position: center;
     }
</style>
<script src="/js/parentRegister.js"></script>